@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}

:root {
  /* Light Mode */
  --background-color-1: #ffffff;
  --background-color-2: #e2e2e2;
  --text-color: #000000;
  --accent-color: #f66262;

  /* Dark Mode
  --background-color-1: #1a1a1a;
  --background-color-2: #202020;
  --text-color: #ffffff;
  --accent-color: #f66262;
  */ 
}

html {
  font-size: 62.5%;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  color: var(--text-color);
  margin-bottom: 0.5em;
}

h1 { font-size: clamp(3rem, 4vw, 4rem); }
h2 { font-size: clamp(2.4rem, 3vw, 3.2rem); }
h3 { font-size: clamp(2rem, 2.5vw, 2.8rem); }
h4 { font-size: clamp(1.8rem, 2vw, 2.4rem); }
h5 { font-size: clamp(1.6rem, 1.5vw, 2rem); }
h6 { font-size: clamp(1.4rem, 1.2vw, 1.6rem); }

/* Paragraphs */
p {
  color: var(--text-color);
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  margin-bottom: 1em;
  font-weight: 300;
}

label, input {
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  font-weight: 300;
  color: var(--text-color);
}

button {
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  font-weight: 300;
}

/* Links */
a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  color: var(--accent-color);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes menuSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-300px);
  }
}

@keyframes menuSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}