.delete-task-modal-wrapper, 
.complete-task-modal-wrapper,
.pincurrent-task-modal-wrapper,
.unpincurrent-task-modal-wrapper {
  position: fixed;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadeIn 1s ease;
  display: none;
}

.delete-task-modal,
.complete-task-modal,
.pincurrent-task-modal,
.unpincurrent-task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 450px;
  border-radius: 15px;
  background-color: var(--background-color-1);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease;
  overflow: hidden;
}

.delete-task-modal-title,
.complete-task-modal-title,
.pincurrent-task-modal-title,
.unpincurrent-task-modal-title {
  text-align: center;
  padding: 20px;
  margin: 0;
}

.modal-buttons {
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-buttons button {
  flex: 1;
  border: none;
  border-top: 2px solid var(--background-color-2);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.modal-buttons button svg {
  fill: var(--font-color);
  width: 20px;
  height: 20px;
  transition: all 0.15s;
}

.modal-buttons button:hover svg {
  fill: var(--accent-color);
}

.modal-buttons button:hover {
  background-color: var(--background-color-2);
  color: var(--accent-color);
}