.stats-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.stats-container {
  width: 80%;
  max-width: 450px;
  background-color: var(--background-color-1);
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  gap: 20px;
  padding: 0 20px 20px 20px;
  animation: fadeIn 2s ease;
}

.leaderboard-filter {
  width: 100%;
  display: flex;
  align-items: center;
}

.leaderboard-filter button,
.graph-range-btns button {
  flex: 1;
  padding: 1rem 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.15s;
  color: var(--text-color);
  border-bottom: 2px solid var(--background-color-2);
}

.leaderboard-filter button:hover,
.graph-range-btns button:hover {
  background-color: var(--background-color-2);
}

.leaderboard-filter button.active,
.graph-range-btns button.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.personal-stats-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.username-stat-display {
  margin: 0;
  text-align: center;
  color: var(--text-color);
}

.stat-widgets {
  width: 100%;
  background-color: var(--background-color-2);
  border-radius: 15px;
  box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.stat-widget {
  width: 100%;
  display: flex;
  background-color: var(--background-color-1);
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.27);
}

.streak-widget {
  border: 2px solid var(--accent-color);
}

.streak-widget h5, .streak-widget p {
  color: var(--accent-color);
}

.streak-display {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.streak-display svg {
  width: 20px;
  height: 20px;
  fill: var(--accent-color);
}

.stat-widget h5, .stat-widget p {
  margin: 0;
}

.stat-widget p:not(.streak-widget p) {
  color: var(--text-color);
}

.stat-widget h5 {
  color: var(--accent-color);
}

.bar-graph-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.graph-range-btns {
  width: 100%;
  display: flex;
  align-items: center;
}

/* leaderboard */

.leaderboard-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.leaderboard-column-headers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--background-color-2);
  padding: 1rem;
}

.leaderboard-column-headers p {
  margin: 0;
  color: var(--accent-color);
}

.leaderboard-entries {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--background-color-2);
  padding: 1rem;
}

.rank-username-col {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rank-username-col p, .minutes-col p {
  margin: 0;
}

.rank {
  font-style: italic;
  color: var(--accent-color);
}